<div class="all">
    <div class="perg">
        <div *ngFor="let questao of questoes">
            <h3 class="quest">{{questao.pergunta}}</h3>
            <input [type]="questao.typ" [(ngModel)]="questao.resp">
            <div id="plus" *ngIf="questao.pergunta === 'contacto telefónico'">
                <label for="whats">Mesmo para o Watsapp</label>
                <input type="checkbox" name="whats" id="whats">
            </div>
        </div>
    </div>
    
    <div class="resp">
        <h2>Formulario de Contacto e Compra</h2>
        <div class="linha" *ngFor="let questao of questoes">
            <h3>{{questao.pergunta}}:</h3>
            <p>{{questao.resp}}</p>
        </div>
        <button class="btn">Enviar Dados</button>
    </div>
</div>