<nav>
    <div class="logo">
        <a routerLink="/home">Sale Cars</a>
    </div>
    <div class="menu">
        <a routerLink="/park" routerLinkActive="actived">Ver Parque</a>
        <a routerLink="/contacte" routerLinkActive="actived">contacte-nos</a>
        <a routerLink="/formulario" routerLinkActive="actived">Formulario</a>
        <a routerLink="/sobre" routerLinkActive="actived">Sobre nós</a>
    </div>
</nav>
<header>
    <h1>Sale Cars</h1>
    <h2>A melhor stand online do seculo</h2>

    <h3>Bem vindo</h3>
</header>
