<app-cards></app-cards>
<!--
 Este modelo possui um design robusto com linhas modernas e uma carroceria elevada, proporcionando maior visibilidade ao motorista e uma sensação de segurança. O S-Presso conta com espaço interno surpreendentemente amplo para o seu tamanho, com assentos confortáveis e um painel digital intuitivo. Seus recursos incluem airbags frontais, sistema de frenagem ABS com EBD e tecnologia de infotainment com conectividade Bluetooth, tornando-o uma opção atraente para quem busca segurança e tecnologia a um preço acessível.
-->