<div class="c-box">
    <div class="card">
        <img src="images/suziki-s-presso.png" alt="suziki-s-presso">
        <div class="infor">
            <h5>Suziki S-PRESSO</h5>
            <p>O Suzuki S-Presso é um compacto urbano que combina praticidade e estilo em um único veículo. Equipado com um motor de 1.0 litro, ele oferece desempenho eficiente e economia de combustiv...</p>
        </div>
        <button class="btn">contactar</button>
    </div>
</div>
<!--
 Este modelo possui um design robusto com linhas modernas e uma carroceria elevada, proporcionando maior visibilidade ao motorista e uma sensação de segurança. O S-Presso conta com espaço interno surpreendentemente amplo para o seu tamanho, com assentos confortáveis e um painel digital intuitivo. Seus recursos incluem airbags frontais, sistema de frenagem ABS com EBD e tecnologia de infotainment com conectividade Bluetooth, tornando-o uma opção atraente para quem busca segurança e tecnologia a um preço acessível.
-->